.file_heading {
  margin: 0;
  margin-top: 5vh;
  padding-left: 1vw;
}
.file_names {
  height: 25vh;
  margin-left: 1vw;
  width: 12.5vw;
  border: 1px solid black;
  overflow-y: scroll;
}
ul {
  padding: 0;
  padding-left: 10px;
}
